# macOS
**/.DS_Store
**/.idea/
**/.vscode/

# Dev build
build/
tmp/
processed_migrations/

# Test
*.out
*.test
coverage.out
*.log

# Environment variables
.env
*.local.json

# Go builds
**/build/
**/local_db/
**/postgresql_db/
**/vault_db/
**/pnetlabaddon/etc/pnetlabaddon/migrate.sh
**/pnetlabaddon/etc/pnetlabaddon/migrations
**/pnetlabaddon/usr/local/bin/sql-migrate
**/pnetlabaddon/usr/local/bin/pnetlabaddon

# Node.js dependencies
**/node_modules/
**/.next/
**/.vite/
**/.turbo/
**/.cache/
**/*.ipynb_checkpoints/

# Files
hosts.ini
cover.out
