# macOS
**/.DS_Store
**/.idea/

# Dev build
build/
tmp/
processed_migrations/

# Test
*.out

# Environment variables
.env

# Go builds
**/build/
**/local_db/
**/pnetlabaddon/etc/pnetlabaddon/migrate.sh
**/pnetlabaddon/etc/pnetlabaddon/migrations
**/pnetlabaddon/usr/local/bin/sql-migrate
**/pnetlabaddon/usr/local/bin/pnetlabaddon

# Node.js dependencies
**/node_modules/

# Files
hosts.ini
cover.out
