server {
    index index.html;
    error_log  /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;
    resolver ${SYSTEM_DNS} valid=1s ipv6=off;

    gzip on;
    gzip_http_version 1.1;
    gzip_disable      "MSIE [1-6]\.";
    gzip_min_length   1100;
    gzip_vary         on;
    gzip_proxied      expired no-cache no-store private auth;
    gzip_types        text/plain text/css application/json application/javascript application/x-javascript text/xml application/xml application/xml+rss text/javascript;
    gzip_comp_level   9;

    root /usr/share/nginx/html/;

    ${SSL_CONF}
    listen 80 default;

    # Обслуживание статических файлов
    location / {
        root /usr/share/nginx/html/;
        try_files $uri /index.html;
    }

    # Проксирование /api/ на другой контейнер
    location /api/ {
        set $target_host ${CMS_CORE_SERVICE};
        proxy_pass $target_host;
        proxy_set_header Host $host;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header X-Original-URI $request_uri;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
